body {
		background-image: url("https://static01.nyt.com/images/2019/05/07/smarter-living/07carbonfootprint-slide-SUBX/carbonfootprint-slide-SUBX-jumbo.jpg");
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: scroll;
		background-size: 400px;
	}

question {
		font-color:red;
	}	